@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
/*
@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}
*/
/* barvni palet #96ceb4 #ffeead #ffcc5c #ff6f69 */
/* temnejsi pale#588c7e #f2e394 #f2ae72 #d96459 */
/*b,r,w* #221F1F,#E50914,#F5F5F1*/
body {
	background-color: #221F1F;
	font-size:  12px;
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	}
/*stil linkov*/
a:link {color: red;}
a:visited{collor: orange;}
/*naslov in podnaslov*/
h1.naslov{padding: 5px 5px; margin: 0px; text-align: center; font-size: 16px; background-color:#E50914; color:white}
h2.podnaslov{background-color:#E50914;width: 100%;text-align: center;color:white;padding-top:5px;padding-bottom:5px;}
/*stil menija*/
ul.meni{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:black;
}
ul.meni li{
	float: left;
}
ul.meni li a{
	display:block;
	color:#ffffff;
	text-align: center;
	padding: 10px 16px;
	margin: 0px;
	border: 0;
	text-decoration: none;
}
ul.meni li a:hover{
	background-color:#E50914;
}
ul.meni li a.active {
	background-color:#E50914;
}
/*oblikovnje opisa*/
div.opis , div.video{
	width: 100%;
	max-width: 800px;
	margin:auto;
	background-color: #F5F5F1;
	color:black;
}
div.opis img{width: 100%; margin-bottom:-10px}
div.opis img+p.podtekst {text-align: center; padding-bottom:5px}
div.video video{
	width: 100%;
}
div.opis p , div.video p {position:relative; left:12px;}

.flexbox{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1000px;
	margin: auto;
}
.flexbox > div{
	background-color: #f1f1f1;
	width: 266.6px;
	height: 400px;
	margin: 10px;
	text-align: center;
}
.flexbox div.opis{
	height: 160px;
	overflow: auto;
	}
.flexbox > div h4{
	font-size: 16px; color: white;
	background-color:#E50914;
	padding: 5px 12px;
	margin: 0;
}
.flexbox > div img{height: 200px;}

div.anketa form {position:relative; left:10px;}
div.anketa {
	width: 100%;
	max-width: 800px;
	margin: auto;
	background-color: #F5F5F1;
}
div.anketa select, div.anketa input[type=text]{
	font-size:  12px;
	width: 96%;
	padding: 5px 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	box-sizing: border-box; border: 2px solid #E50914; border-radius: 4px;
}
div.anketa input:focus[type=text]{background-color: yellow;border: 2px solid #ff6f69}

div.anketa form input[type=radio]{
	margin: 2px 5px;
	margin-bottom: 10px;
	vertical-align: middle;
	
}
div.anketa form input[type=checkbox]{
	margin: 0px 5px;
	vertical-align: middle;
}

div.anketa form textarea {
	width: 96%;
	padding: 5px 12px;
	margin: 2px;
	box-sizing: border-box; border: 2px solid #E50914; border-radius: 4px;
}
div.anketa form texarea:focus{border: 2px solid blue;}

div.anketa form input[type=submit]{
	width: 780px;
	text-align: center; background-color:#E50914; color: white;
	padding: 12px 20px;
	box-sizing: border-box; border: 2px solid #E50914; border-radius: 4px;
	margin-bottom: 10px;
}
div.anketa form input[type=submit]:hover{
	background-color:#ff6f69;
	border: 2px solid #ff6f69; border-radius: 4px;
}
@media only screen and (max-width: 1000px) {
	.flexbox{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 600px;
	margin: auto;
	}
	
}
@media only screen and (max-width: 600px) {
	.flexbox{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 300px;
	margin: auto;
	}
	ul.meni li{
	float: none;
}
	
}